<a href='/recipes' class="btn btn-info" id="back">back</a>
<form action="/recipes/<%= @recipe.id() %>" method="post" id="delete">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn btn-danger">Delete this Recipe</button>
</form>
<br>
<br>
<h1 id="clickrecipe"><%= @recipe.recipe_name %> Recipe</h1>

  <span class="editname">
    <form action="/recipes/<%= @recipe.id() %>/name" method="post" class="form-container">
      <input name="_method" type="hidden" value="patch">
      <label for="recipe_name">Rename your recipe:</label>
        <input id="recipe_name" name="recipe_name" type="text" class="form-control">
        <br>
        <button type="submit" class="btn btn-info">Update</button>
    </form>
  </span>
<hr>
<h3 id="clickingredients">Ingredients</h3>
<h5><%= @recipe.ingredients %></h5>
<span class="editingredients">
  <form action="/recipes/<%= @recipe.id() %>/ingredients" method="post" class="form-container">
    <input name="_method" type="hidden" value="patch">
    <label for="ingredients">Change your ingredients:</label>
      <input id="ingredients" name="ingredients" type="text" class="form-control">
      <br>
      <button type="submit" class="btn btn-info">Update</button>
  </form>
</span>
<h3 id="clickinstructions">Instructions</h3>
<h5><%= @recipe.instructions %></h5>
<span class="editinstructions">
  <form action="/recipes/<%= @recipe.id() %>/instructions" method="post" class="form-container">
    <input name="_method" type="hidden" value="patch">
    <label for="instructions">Change the instructions:</label>
      <input id="instructions" name="instructions" type="text" class="form-control">
      <br>
      <button type="submit" class="btn btn-info">Update</button>
  </form>
</span>

<% if @assigned_category.any?() %>
  <h3>Categories</h3>
  <table>
  <% @assigned_category.each do |category| %>
    <tr>
      <td><h5><a href="/category/<%= category.id()%>"><%= category.category_name %></h5></td>
      <td><form action="/categories/<%= category.id %>/recipe" method=post>
            <input name="_method" type="hidden" value="delete">
            <input type="hidden" name="recipe_id" value="<%= @recipe.id %>">
            <button type="submit" class="remove_project_button">&#10005;</button>
          </form></td>
    </tr>
  <% end %>
  </table>
<% end %>
<h3>Assign this recipe to another category:</h3>
  <form action="/recipes/<%= @recipe.id %>/category" method="post">
    <p><select id="category_id" name="category_id">
      <% @categories.each do |category| %>
        <% unless @assigned_category.include?(category) %>
          <option value="<%=category.id%>"><%= category.category_name %></option>
      <% end %>
    <% end %>
    </select></p>
    <p><button type="submit" class="btn btn-info">Add category</button></p>
  </form>

<hr>

<p><a href="/categories" class="btn btn-info">Manage categories</a></p>
